@font-face {
	font-family: "JetBrains Mono";
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src:
		url(/public/fonts/JetBrainsMono-Regular.woff2) format("woff2"),
		url(/public/fonts/JetBrainsMono-Regular.ttf) format("truetype");
}

:root {
    --background-color: #ccbfae;

    --border-color: #3d302a;

    --section-max-width: 950px;
}

body {
    font-family: "JetBrains Mono", monospace;
    background-color: var(--background-color);
}

.section-container {
    margin: auto auto;
    max-width: var(--section-max-width);
}


.split-layout {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-block: 40px;
}
.left-column, .right-column {
    flex: 1;
}
.aura-container img {
    width: 75%;
    height: auto;
    border-radius: var(--border-radius);
    display: block;

    border-style: solid;
    border-radius: 25%;
    border-color: var(--border-color);
    border-width: 7px;
}
/* Stacks on mobile */
@media screen and (max-width: 768px) {
    .split-layout {
        flex-direction: column;
        text-align: center;
    }
}